.user-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: -4px 2px 6px rgba(0,0,0,0.1);
}

.user-form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 14px;
}

.user-info p {
    font-size: 16px;
    font-weight: 500;
    color: #f83535;

}
