.btn {
    padding: 24px 36px;
    background-color: orange;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

.btn-primary {
    background-color: #4cabf5;
}
.btn-primary:hover {
    background-color: #074d97;
}


.btn-danger {
    background-color: #dc3545;
}
.btn-danger:hover {
    background-color: #a11220;
}

.btn-success {
    background-color: #21ff55;
}
.btn-success:hover {
    background-color: #0aa82d;
}