.todo-app {
    padding: 20px;
    border: 2px solid #ad2424; 
    border-radius: 8px; 
    margin-top: 20px;
    background-color: #fff5f5; 
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
}

button {
    cursor: pointer;
    margin-left: 10px;
}