.controlled-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #ccc;
    margin: 10px auto;
    width: 100%;
}

.controlled-form input {
    margin-bottom: 10px;
    font-weight: 400;
    width: 180px;
    height: 20px;
    padding: 2px 6px;
    border-radius: 6px;
}

h2 {
    text-align: center;
    margin-bottom: 6px;
}

.info{
    margin-top: 10px;
    font-weight: 500;
    color: #333;
}

span{
    color: red;
}